<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823106494308-47uil371uk1ff48f0rk3jd9a5san5onp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823106494308-47uil371uk1ff48f0rk3jd9a5san5onp</string>
	<key>API_KEY</key>
	<string>AIzaSyDE6ichXgV-LngJf1FAvXBAn8f05lcWAUw</string>
	<key>GCM_SENDER_ID</key>
	<string>823106494308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coby5502.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-cf420</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-cf420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823106494308:ios:ed0c35b983c561ca7fa471</string>
</dict>
</plist>